{% load static %}

<header>
    <!-- Header Start -->
    <div class="header-area header-sticky">
        <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
            <!-- Logo -->
             <!-- Logo -->
                <div class="logo">
                    <h4>Menztailor Online tailor booking system</h4>
                </div>

            <!-- Main-menu -->
            <div class="main-menu d-none d-lg-block">
                <nav>
                    <ul id="navigation">
                        <li><a href="{% url 'customer_index' %}">Home</a></li>
                        <li><a href="{% url 'customer_view_designer' %}">Designers</a></li>
                        <li><a href="{% url 'view_orders' %}">Orders</a></li>
                        <li><a href="{% url 'customer_view_notification' %}">View Notifications</a></li>

                        <!-- Account Dropdown -->
                        <li>
                            <a href="#">Account <i class="fas fa-caret-down"></i></a>
                            <ul class="submenu">
                                <li><a href="{% url 'profile' %}">Profile</a></li>
                                <li><a href="{% url 'customer_change_password' %}">Change Password</a></li>
                                <li><a href="{% url 'index' %}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

            <!-- Mobile Menu -->
            <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>
