{% load static %}

<header>
        <!-- Header Start -->
       <div class="header-area header-sticky">
            <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
                <!-- Logo -->
                <div class="logo">
                    <h4>Menztailor Online tailor booking system</h4>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                            <li><a href="{% url 'index' %}">Home</a></li>
<!--                            <li><a href="services.html">Services</a></li>-->
                            <li><a href="{% url 'about' %}">History</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                            <li><a href="{% url 'admin_login' %}">Admin</a></li>
                            <li><a href="{% url 'customer_login' %}">Customer</a></li>
                            <li><a href="{% url 'designer_login' %}">Designer</a></li>
<!--                            <li><a href="gellary.html">Gallery</a></li>-->
<!--                            <li><a href="blog.html">Blog</a>-->
<!--                                <ul class="submenu">-->
<!--                                    <li><a href="blog.html">Blog</a></li>-->
<!--                                    <li><a href="single-blog.html">Blog Details</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->
<!--                            <li><a href="#">Pages</a>-->
<!--                                <ul class="submenu">-->
<!--                                    <li><a href="elements.html">Element</a></li>-->
<!--                                </ul>-->
<!--                            </li>-->

                        </ul>
                    </nav>
                </div>
                <!-- Header-btn -->
<!--                <div class="d-none d-xl-block">-->
<!--                    <a href="#" class="btn btn2">Visit Us</a>-->
<!--                </div>-->
                <!-- Mobile Menu -->
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>