<!doctype html>
<html class="no-js" lang="zxx">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Designer Password Recovery</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">

   <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/gijgo.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body>

    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    {% include 'header.html' %}

    <div class="slider-area ">
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/gallery.jpg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>Designer Recovery</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-flex justify-content-center mt-5 mb-5">
        <div class="col-md-6">
            <div class="card shadow-lg border-0 rounded-3">
                <div class="card-header text-center bg-dark text-white"> <h4><i class="fas fa-search"></i> Find Account</h4>
                </div>
                <div class="card-body">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}success{% endif %}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <form method="POST" action="{% url 'initiate_designer_forgot_password' %}" class="contact-form">
                        {% csrf_token %}

                        <div class="form-group mb-4">
                            <label>Enter Registered Email:</label>
                            <div class="input-group">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="e.g. designer@example.com" required autofocus>
                            </div>
                            <small class="text-muted">We will send an OTP to this email address.</small>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="genric-btn circle arrow small primary">
                                <i class="fas fa-paper-plane"></i> Send OTP
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}

    <script src="{% static './assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static './assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static './assets/js/popper.min.js' %}"></script>
    <script src="{% static './assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static './assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static './assets/js/slick.min.js' %}"></script>
    <script src="{% static './assets/js/gijgo.min.js' %}"></script>
    <script src="{% static './assets/js/wow.min.js' %}"></script>
    <script src="{% static './assets/js/animated.headline.js' %}"></script>
    <script src="{% static './assets/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static './assets/js/jquery.sticky.js' %}"></script>
    <script src="{% static './assets/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static './assets/js/contact.js' %}"></script>
    <script src="{% static './assets/js/jquery.form.js' %}"></script>
    <script src="{% static './assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static './assets/js/mail-script.js' %}"></script>
    <script src="{% static './assets/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static './assets/js/plugins.js' %}"></script>
    <script src="{% static './assets/js/main.js' %}"></script>

</body>
</html>